<%- include('header'); %>
<div class="container">
    <div class="row">
        <div id="weather">
            <div id="description"><%= description%></div>
            <h1 id="temp"><%= temp %></h1>
            <div id="location"><%= city %></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <form id="change-city" method="post" action="/">
            <label for="city-name">City</label>
            <input type="text" name="cityname" id="city-name">
            <br/>
            <input type="submit" value="Save changes">
        </form>
    </div>
</div>
<%- include('footer'); %>